.coverphoto {
	background-image: url("images/cover.jpg");
	background-size: cover;
}
/*background-image: url("images/paper.jpg")*/


.MainPage {
	/*background-image: url("images/paper.jpg")*/;
	align-self: auto;
	display: block;
	left: 50%;
	float: none;
	clear: none;
	right: 50%;
	max-width: 100%;
	top: 10px;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	min-height: 752px;
	margin-top: 36px;
}

.header {
	float: center;
	height: 30vmax;
	padding-bottom: 214px;
	margin-bottom: 0px;
}.header h2 {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.sitemap {
	display: inline-block;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	clear: right;
	width: 123px;
	position: relative;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	opacity: 1;
}
.title {
	float: none;
	padding-left: 0px;
	text-align: center;
	position: relative;
	top: 83%;
	bottom: 50%;
}
.pagelink {
	display: inline-block;
	float: left;
	width: 67px;
	clear: left;
}
.sitemapheader {
	width: 116px;
	display: inline-block;
	float: left;
}
.textbody {
	text-align: left;
	display: inline-block;
	float: left;
	min-width: 0px;
	width: 584px;
	padding-right: 0px;
	margin-left: 20%;
}
.MFAHead {
	clear: left;
}
.textbodyalternate {
	float: left;
	width: 398px;
}
.textbodyalternate2 {
	width: 502px;
	clear: left;
}
.climacticchange {
	width: 400px;
	float: left;
}
.Baseballphoto {
	display: inline-block;
}
.textbodyalternate2 {
}
